<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>agricreateproductdefaultcaracteristiques</name>
	<displayName><![CDATA[agricreateproductdefaultcaracteristiques]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[agricreateproductdefaultcaracteristiques]]></description>
	<author><![CDATA[Maxime LE GENTIL]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
